@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.expandable-nav {
  display: flex;
  gap: 0.5rem;
}

.expandable-nav::after {
  content: url(../images/down-arrow.svg);
  display: block;
  clear: both;
}

.container {
  @apply desktop-small:mx-auto px-4 sm:px-0 max-w-screen-desktop-small flex flex-col;
}

.list-check {
  @apply text-on-surface text-lg flex flex-col gap-4;
}

.list-check > li {
  @apply flex gap-2;
}
.list-check > li::before {
  content: url(../images/check.svg);
  display: inline-block;
  color: black;
  margin-right: 0.5rem;
}
